html {
    background-color: rgb(15, 15, 15);
    color: white;
    font-family: 'Libre Franklin', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.25em;
    padding-bottom: 14px;
    border-bottom: 1px solid rgb(83, 83, 83);
    margin-bottom: 12px;
}

.win-notif, .lose-notif {
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    color: black;
    height: 40px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight:bold;
    opacity: 0%;
    transition: opacity 2s;
}

.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-grid {
    width: 400px;
    height: 470px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.word-row {
    width: 400px;
    height: 70px;
    /* display: flex;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.letter {
    width: 70px;
    height: 70px;rgb(15, 15, 15);black;
    border: 2px solid rgb(79, 79, 79);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
    font-weight: bold;
}

.wrong-letter {
    background-color: rgb(53, 53, 53);
}

.wrong-spot {
    background-color: rgb(204, 196, 86);
}

.correct {
    background-color: rgb(48, 154, 48);
}

.key-row {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.letter-key {
    width: 50px;
    height: 60px;
    background-color: gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    font-size: 18px;
    font-weight: bold;
}

#Enter, #Backspace {
    width: 75px;
}

#Backspace img {
    height: 30px;
    width: 30px;
}
