html {
    background-color: black;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.25em;
}

.center-all {
    display: flex;
    justify-content: center;
}

.game-grid {
    width: 400px;
    height: 470px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.word-row {
    width: 400px;
    height: 70px;
    /* display: flex;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.letter {
    width: 70px;
    height: 70px;
    background-color: black;
    border: 2px solid rgb(79, 79, 79);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
    font-weight: bold;
}

.wrong-letter {
    background-color: darkgray;
}

.wrong-spot {
    background-color: rgb(204, 196, 86);
}

.correct-letter {
    background-color: green;
}
